<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/login-style.css" rel="stylesheet">
    
    <title>Sign in to Diep Tool - DiepTool</title>
  </head>


  <body class="text-center">
    <form class="form-signin" action="/login" method="post">
      <img class="mb-4" src="https://cdn.glitch.com/8d1d21b2-1323-42fb-80f4-aed273c8f60b%2FDNXKT9SUEAAeEVB.png?v=1587852167274" alt="" width="200" height="200">
      <h1 class="h3 mb-3 font-weight-normal">Sign in to Diep Tool</h1>
      
      <label for="inputUsername" class="sr-only">username</label>
      <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required autofocus>
      
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
  </body>
</html>